openapi: 3.0.0
info:
  title: CrowdStrike Alerts API
  version: 1.0.0
  description: OpenAPI specification for the CrowdStrike Alerts API

servers:
  - url: https://api.crowdstrike.com

paths:
  /alerts/queries/alerts/v1:
    get:
      summary: Retrieve alerts
      operationId: getAlerts
      tags:
        - Alerts
      parameters:
        - in: query
          name: filter
          schema:
            type: string
          description: Filter conditions for alerts
        - in: query
          name: sort
          schema:
            type: string
          description: Sort order for alerts
        - in: query
          name: limit
          schema:
            type: integer
          description: Maximum number of alerts to retrieve
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    type: object
                  resources:
                    type: array
                    items:
                      type: object
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
