openapi: 3.0.0
info:
  title: Nozomi Enhanced API
  version: 2.0.0
  description: Enhanced OpenAPI specification for Nozomi Networks

servers:
  - url: https://ernstyoung.customers.us1.vantage.nozominetworks.io

paths:
  /api/open/query/do:
    get:
      summary: Execute Nozomi Query
      operationId: executeQuery
      tags:
        - Query
      parameters:
        - in: query
          name: query
          description: Nozomi query language statement
          schema:
            type: string
          required: true
          example: "alerts | exclude bpf_filter properties description | where time >= hours_ago(24) | where !is_incident | where risk >= 7"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                  header:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
                    example: 0
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error

  /api/open/alerts:
    get:
      summary: Retrieve alerts with specific criteria
      operationId: getAlerts
      tags:
        - Alerts
      description: Query alerts that have been created within the specified time period with risk level filtering
      parameters:
        - in: query
          name: query
          description: Query for alerts with specific filters (e.g., risk level >= 7 in past 24 hours)
          schema:
            type: string
            example: "alerts | exclude bpf_filter properties description | where time >= hours_ago(216) | where !is_incident | where risk >= 7"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type_id:
                          type: string
                        name:
                          type: string
                        severity:
                          type: integer
                        risk:
                          type: integer
                        time:
                          type: integer
                        ip_src:
                          type: string
                        ip_dst:
                          type: string
                        mac_src:
                          type: string
                        mac_dst:
                          type: string
                        protocol:
                          type: string
                        ack:
                          type: boolean
                        is_incident:
                          type: boolean
                        is_security:
                          type: boolean
                  header:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal server error

  /api/open/alerts/{id}/trace:
    get:
      summary: Get alert trace/PCAP
      operationId: getAlertTrace
      tags:
        - Alerts
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: Alert ID
      responses:
        '200':
          description: Trace file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Alert or trace not found
        '422':
          description: Invalid alert ID

  /api/open/alerts/ack:
    post:
      summary: Acknowledge alerts
      operationId: acknowledgeAlerts
      tags:
        - Alerts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Alert ID
                      ack:
                        type: boolean
                        description: Acknowledge status
      responses:
        '200':
          description: Job ID for tracking acknowledgment
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Job ID
        '422':
          description: Invalid request format

  /api/open/alerts/close:
    post:
      summary: Close alerts
      operationId: closeAlerts
      tags:
        - Alerts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: Array of alert IDs
                close_action:
                  type: string
                  enum: [delete_rules, learn_rules]
                  description: Close action type
      responses:
        '200':
          description: Job ID for tracking closure
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string

  /api/open/nodes/import_from_json:
    post:
      summary: Import node/asset data
      operationId: importNodes
      tags:
        - Nodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    type: object
                    properties:
                      ip:
                        type: string
                      label:
                        type: string
                      vendor:
                        type: string
                      product_name:
                        type: string
                      firmware_version:
                        type: string
                      serial_number:
                        type: string
                      mac_address:
                        type: string
                      type:
                        type: string
      responses:
        '201':
          description: Import successful
        '422':
          description: Invalid data format

  /api/open/cli:
    post:
      summary: Execute CLI command
      operationId: executeCLI
      tags:
        - System
      parameters:
        - in: query
          name: cmd
          required: true
          schema:
            type: string
          description: CLI command to execute
      responses:
        '200':
          description: Command execution result
          content:
            application/json:
              schema:
                type: object

  /api/v1/keys/sign_in:
    post:
      summary: Authenticate with API key
      operationId: authenticate
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                key_name:
                  type: string
                key_token:
                  type: string
      responses:
        '200':
          description: Authentication successful
          headers:
            Authorization:
              schema:
                type: string
                description: Bearer token
        '401':
          description: Authentication failed

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
