openapi: 3.0.0
info:
  title: Nozomi Vantage Alerts API
  version: 1.0.0
  description: API specification for Nozomi Vantage

servers:
  - url: https://ernstyoung.customers.us1.vantage.nozominetworks.io

paths:
  /api/v1/keys/sign_in:
    post:
      summary: Authenticate with API key
      operationId: authenticate
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                key_name:
                  type: string
                  description: API Key Name
                key_token:
                  type: string
                  description: API Key Token
              required:
                - key_name
                - key_token
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT Bearer token valid for 30 minutes
        '401':
          description: Authentication failed

  /api/open/query/do:
    get:
      summary: Query alerts
      operationId: queryAlerts
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          required: true
          description: Nozomi Query Language expression
          schema:
            type: string
            example: "alerts"
      responses:
        '200':
          description: Query successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    description: Array of alert objects
                    items:
                      type: object
                  header:
                    type: array
                    description: Column headers
                    items:
                      type: object
                  total:
                    type: integer
                    description: Total number of results
        '400':
          description: Invalid query
        '401':
          description: Unauthorized - Token expired or invalid

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /api/v1/keys/sign_in endpoint