openapi: 3.0.0
info:
  title: Nozomi Networks Alerts API
  description: OpenAPI specification for Nozomi Networks Alerts API integration with Microsoft Security Copilot
  version: 1.0.0
  
servers:
  - url: https://ernstyoung.customers.us1.vantage.nozominetworks.io
    description: Nozomi Networks Vantage Instance

paths:
  /api/open/sign_in:
    post:
      tags:
        - Authentication
      summary: Authenticate with Nozomi API
      description: Authenticate using API key credentials to obtain a JWT token
      operationId: authenticate
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                key_name:
                  type: string
                  description: API Key Name
                key_token:
                  type: string
                  description: API Key Token
              required:
                - key_name
                - key_token
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT Bearer token (valid for 30 minutes)
                  expires_in:
                    type: integer
                    description: Token expiration time in seconds
        '401':
          description: Authentication failed

  /api/open/query/do:
    get:
      tags:
        - Alerts
      summary: Query Nozomi alerts
      description: Execute queries to retrieve alerts using Nozomi Query Language
      operationId: queryAlerts
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          required: true
          description: Nozomi Query Language expression
          schema:
            type: string
            default: "alerts | where time >= hours_ago(24) | where risk >= 7"
      responses:
        '200':
          description: Query executed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  header:
                    type: array
                    description: Column headers for the result set
                    items:
                      type: string
                  result:
                    type: array
                    description: Array of alert objects matching the query
                    items:
                      type: string
                  total:
                    type: integer
                    description: Total number of results
        '400':
          description: Invalid query syntax
        '401':
          description: Unauthorized - Token expired or invalid
        '429':
          description: Rate limit exceeded

  /api/open/alerts/all:
    get:
      tags:
        - Alerts
      summary: Get all alert IDs
      description: Retrieve IDs of alerts matching a condition
      operationId: getAllAlertIds
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          required: false
          description: Filter query in Nozomi Query Language format
          schema:
            type: string
        - name: has_trace
          in: query
          required: false
          description: Include trace status
          schema:
            type: boolean
      responses:
        '200':
          description: Alert IDs retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ids:
                    type: array
                    items:
                      type: string
                    description: Array of alert IDs
        '404':
          description: No alerts match the specified conditions

  /api/open/alerts/{id}:
    get:
      tags:
        - Alerts
      summary: Get specific alert
      description: Retrieve detailed information about a specific alert
      operationId: getAlertById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Alert ID
          schema:
            type: string
      responses:
        '200':
          description: Alert retrieved successfully
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Alert not found

    patch:
      tags:
        - Alerts
      summary: Update alert note
      description: Update the note field of an alert
      operationId: updateAlertNote
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Alert ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: Note to add to the alert
      responses:
        '200':
          description: Alert updated successfully

  /api/open/alerts/{id}/trace:
    get:
      tags:
        - Alerts
      summary: Download alert trace
      description: Download PCAP trace associated with an alert
      operationId: getAlertTrace
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Alert ID
          schema:
            type: string
      responses:
        '200':
          description: Trace file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Trace not found

  /api/open/alerts/ack:
    post:
      tags:
        - Alerts
      summary: Acknowledge single alert
      description: Acknowledge or unacknowledge an alert
      operationId: acknowledgeAlert
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                alert_id:
                  type: string
                  description: Alert ID
                acknowledge:
                  type: boolean
                  description: True to acknowledge, false to unacknowledge
              required:
                - alert_id
                - acknowledge
      responses:
        '200':
          description: Acknowledgment successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Job ID

  /api/open/alerts/close:
    post:
      tags:
        - Alerts
      summary: Close alerts
      description: Close alerts as security or change
      operationId: closeAlerts
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                alert_ids:
                  type: string
                  description: Comma-separated list of alert IDs
                close_action:
                  type: string
                  enum: [delete_rules, learn_rules]
                  description: How to close the alerts
              required:
                - alert_ids
                - close_action
      responses:
        '200':
          description: Close job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /api/open/sign_in endpoint
